.discussiontree{
	$color--stats-active: #fe9;
	$color--stats-fixed: #6e9;
	$color--stats-no-active: #3399ff;

	background-color: #fff;

	.discussiontree__block{
		padding:5px 0;
		margin:0.5em 0;
	}
	.discussiontree__heading{
		font-weight: bold;
		border-left: 3px solid $color--stats-no-active;
		padding: 0 1em;

		.discussiontree__edit-button{
			margin-left: 1em;
			font-size: 80%;
			font-weight: normal;
		}
	}
	&.discussiontree--status-active{
		.discussiontree__heading{
			border-left-color: $color--stats-active;
		}
	}
	&.discussiontree--status-fixed{
		.discussiontree__heading{
			border-left-color: $color--stats-fixed;
		}
	}

	.discussiontree__discussion-timeline--timeline{
		height: 300px;
		overflow: auto;

		&>div{
			// border-bottom: 1px solid #bbb;
			font-size: 13px;

			&:last-child{
				border-bottom: none;
			}
		}
	}
	.discussiontree__discussion-timeline--form{
		&__inputform{
			display: flex;
			height: 80px;
			textarea{
				width: calc(100% - 80px);
				height: 100%;
			}
			button{
				width:  - 80px;
				height: 100%;
			}
		}
	}
	.discussiontree__question{
		font-weight: bold;
		font-size: 24px;
	}
	.discussiontree__question,
	.discussiontree__answer{
		min-height: 60px;
		max-height: 300px;
		overflow: auto;
	}

	.discussiontree__voteuser{
		padding: 0;
		margin: 0;
		li{
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 1em;
			margin: 1px;
			background-color: #666;
			color: #eee;
			font-size: 11px;
			font-weight: normal;
			border-radius: 0.5em;
			&.discussiontree__voteuser--me{
				background-color: #999;
			}
		}
	}


	.discussiontree__parent-question{
		margin: 0.5em 0;
	}

	.discussiontree__sub-questions{
		margin: 0.5em 0;
		ul{
			padding: 0;
			li{
				display: block;
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
		}
	}

	.discussiontree__question-unit{
		display: block;
		border: 1px solid #eee;
		background-color: #f9f9f9;
		color: #006;
		font-size: 80%;
		padding: 1em;
		border-radius: 3px;
		margin: 5px 0;
		&--widget-id{
			text-align: right;
			font-size: 80%;
		}
		&:hover{
			text-decoration: none;
			background-color: #f0f0f0;
		}
	}

	&--modal{
	}

	&--widget{
		border: 1px solid #ddd;
		border-left: 7px solid $color--stats-no-active;
		padding: 5px;
		font-size: 11px;
		width: 240px;
		.discussiontree__question{
			font-size: 11px;
			font-weight: bold;
		}
		&.discussiontree--status-active{
			border-left: 7px solid $color--stats-active;
		}
		&.discussiontree--status-fixed{
			border-left: 7px solid $color--stats-fixed;
		}
		&.discussiontree--status-no-active{
			border-left: 7px solid $color--stats-no-active;
		}
	}

}
