.incense{

	&.incense__board{
		position: relative;
		top: 0; left: 0;
		overflow: hidden;
		.incense__board-outer{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			z-index: 2000;

			>div{
				transition-property: transform;
				transition-duration: 0.2s;
				transition-timing-function: linear;
			}

			.incense__board-contextmenu{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 4000;
				pointer-events: none;
			}
			.incense__board-selection{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 3000;
				pointer-events: none;
			}
			.incense__board-inner{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 2000;
			}
			.incense__board-relations{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 1000;
				background: #fff url(inline-image("./src/resources/bg.png"));
			}
		}
	}
	&.incense__timeline{
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		.incense__timeline_list{
			position:absolute;
			left:0;
			top:0;
			overflow: auto;
			width: 100%;
		}
		.incense__timeline_form{
			display: flex;
			position:absolute;
			left:0;
			bottom:0;
			width: 100%;
			height: 40px;
			textarea{
				box-sizing: border-box;
				width: calc(100% - 60px);
				height: 100%;
			}
			button{
				box-sizing: border-box;
				width: 60px;
				height: 100%;
			}
		}

	}

	.incense-contextmenu{
		background-color: rgba(255,255,255,0.95);
		border: 1px solid #ddd;
		pointer-events: auto;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-size: 13px;
				border-top: 1px dashed #eee;
				&:first-child{
					border-top: none;
				}
				a{
					display: block;
					padding: 3px 36px 3px 12px;
					text-decoration: none;
					&:hover{
						background-color: #f8f8f8;
					}
				}
			}
		}
	}

	.incense-modal{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 19999;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.2);
		&__dialog{
			width: 90%;
			margin: 3em auto;
			background-color: #fff;
			padding: 10px 30px;
			box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
		}
		&__header{
			clear: both;
			float: none;
			padding: 0 0 10px 0;
			border-bottom: 1px solid #ddd;
			&:after{
				content: " ";
				clear: both;
				float: none;
			}
		}
		&__close{
			float: right;
		}
		&__footer{
			text-align: right;
			padding: 10px 0 0 0;
			border-top: 1px solid #ddd;
		}
	}

	.incense-wd-modal{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.05);
		&__dialog{
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			margin: 10px auto;
			background-color: #fff;
			padding: 10px 0;
			box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
		}
		&__content{
			position: relative;
			left: 0; top: 0;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__header{
			clear: both;
			float: none;
			padding: 0 20px 10px 20px;
			border-bottom: 1px solid #ddd;
			width: 100%;
			height: 50px;
			&:after{
				content: " ";
				clear: both;
				float: none;
			}
		}
		&__close{
			float: right;
		}
		&__body{
			position: absolute;
			top: 50px; left: 0;
			bottom: 0px;
			width: 100%;
			padding: 0 20px;
			overflow: auto;
			flex-grow: 0;
			flex-shrink: 0;
		}
		&__footer{
			display:none;
			position: absolute;
			bottom: 10px; left: 0;
			text-align: right;
			padding: 10px 20px 0 20px;
			border-top: 1px solid #ddd;
			width: 100%;
			height: 50px;
		}
	}

	.incense__message-unit{
		display: flex;
		flex-direction: row;
		font-size:13px;
		padding: 0.5em;
		margin: 0 0 1px 0;
		// border-bottom: 1px solid #eee;
		background-color: #fff;
		&:hover{
			background-color: #ffe;
		}

		&:last-child{
			border: none;
		}
		.incense__message-unit__owner-icon{
			display: block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			background-color: #ddd;
			margin-right: 10px;
			border-radius: 50%;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.incense__message-unit__message-body{
			display: block;
			width: calc(100% - 40px);
		}
		.incense__message-unit__owner{
			font-weight: bold;
			&-id{
				margin-left: 1em;
				color: #999;
				font-size: 80%;
				font-weight: normal;
				&:before{
					content: "@";
				}
			}
		}
		.incense__message-unit__content{
			font-weight: normal;
			margin-left: 0;
			margin-right: 24px;
			background-color: #f9f9f9;
			border: 1px solid #eeeeee;
			text-align: left;
			padding: 0.4em 1.5em;
			border-radius: 10px;
			word-wrap: break-word;
			p{
				white-space: pre-wrap;
			}
			>:first-child{
				margin-top: 0;
			}
			>:last-child{
				margin-bottom: 0;
			}
		}
		&--myitem{
			flex-direction: row-reverse;

			.incense__message-unit__owner-icon{
				margin-right: 0px;
				margin-left: 10px;
			}
			.incense__message-unit__owner{
				text-align: right;
			}
			.incense__message-unit__content{
				margin-left: 24px;
				margin-right: 0;
				background-color: #d5ffd5;
				border: 1px solid #a7efa7;
			}
		}
	}
	.incense__message-unit__operation{
		background-color: #eeeef9;
		color: #77b;
		font-size: 70%;
		text-align: center;
		padding: 0.4em 1em;
	}
	.incense__message-unit__targetWidget{
		text-align: right;
		font-size: 75%;
		color: #aaa;
	}

	.incense-widget{
		position: absolute;
		left: 0; top: 0;
		min-width: 5px;
		min-height: 5px;
		background-color: #eee;
	}
	.incense-markdown{
		*{
			font-size: 100%;
		}
	}
	.incense-no-pointer-event{
		pointer-events: none;
	}

	@import "./libs/bootstrap/dist/css/bootstrap.css";
	@import "./widgets/issuetree/issuetree.css.scss";
	@import "./widgets/stickies/stickies.css.scss";
}
