.incense{

	&.incense__board{
		position: relative;
		top: 0; left: 0;
		overflow: hidden;
		.incense__board-outer{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			z-index: 2000;
			.incense__board-contextmenu{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 4000;
				pointer-events: none;
			}
			.incense__board-selection{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 3000;
				pointer-events: none;
			}
			.incense__board-inner{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 2000;
			}
			.incense__board-relations{
				position: absolute;
				top: 0;
				left: 0;
				width: 10000px;
				height: 10000px;
				overflow: hidden;
				z-index: 1000;
			}
		}
	}
	&.incense__timeline{
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		height: 100%;
		overflow: hidden;

		.incense__timeline_list{
			position:absolute;
			left:0;
			top:0;
			overflow: auto;
			width: 100%;
		}
		.incense__timeline_form{
			position:absolute;
			left:0;
			bottom:0;
			width: 100%;
		}
		textarea{
			width: 100%;
		}

	}
	.incense-contextmenu{
		background-color: rgba(255,255,255,0.95);
		border: 1px solid #eee;
		pointer-events: auto;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-size: 13px;
				a{
					display:block;
					padding: 0.5em 2em;
					text-decoration: none;
					&:hover{
						background-color: #f8f8f8;
					}
				}
			}
		}
	}
	.incense-modal{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.2);
		&__dialog{
			width: 90%;
			margin: 3em auto;
			background-color: #fff;
			padding: 10px 30px;
			box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
		}
		.incense-modal__header{
			clear: both;
			float: none;
			padding: 0 0 10px 0;
			border-bottom: 1px solid #ddd;
			&:after{
				content: " ";
				clear: both;
				float: none;
			}
			.incense-modal__close{
				float: right;
			}
		}
		.incense-modal__footer{
			text-align: right;
			padding: 10px 0 0 0;
			border-top: 1px solid #ddd;
		}
	}
	.incense__message-unit{
		font-size:13px;
		padding: 0.5em;
		margin: 0 0 1px 0;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		&:hover{
			background-color: #ffe;
		}

		&.incense__message-unit--operation{
			background-color: #eeeef9;
			color: #77b;
			font-size: 70%;
		}

		&:last-child{
			border: none;
		}
		.incense__message-unit__owner{
			font-weight: bold;
			&-id{
				margin-left: 1em;
				color: #999;
				font-size: 80%;
				font-weight: normal;
				&:before{
					content: "@";
				}
			}
		}
		.incense__message-unit__content{
			font-weight: normal;
			margin-left: 0;
			margin-right: 24px;
			background-color: #f9f9f9;
			text-align: left;
			padding: 12px;
			border-radius: 10px;
			>:first-child{
				margin-top: 0;
			}
			>:last-child{
				margin-bottom: 0;
			}
		}
		.incense__message-unit__operation-message{
			text-align: center;
		}
		.incense__message-unit__targetWidget{
			text-align: right;
			font-size: 75%;
			color: #aaa;
		}
		&--myitem{
			.incense__message-unit__owner{
				text-align: right;
			}
			.incense__message-unit__content{
				margin-left: 24px;
				margin-right: 0;
				background-color: #ccf0cc;
			}
		}
	}
	.incense-widget{
		position: absolute;
		left: 0; top: 0;
		min-width: 5px;
		min-height: 5px;
		background-color: #eee;
	}
	.incense-markdown{
		*{
			font-size: 100%;
		}
	}

	@import "./libs/bootstrap/dist/css/bootstrap.css";
	@import "./widgets/issuetree/issuetree.css.scss";
	@import "./widgets/stickies/stickies.css.scss";
}
